<div class="templateWrapper" style="padding-left:0px;">
<img ng-src="{{design.background}}" style="width:476px;    opacity: 0.3; clip: rect(0px,476px,298px,0px); position:fixed; "></img>

<div class="col-xs-8 col-xs-offset-2">
  <h1 id="title" style="padding-top: 30px;">{{design.title}}</h1>     
</div>

 <!-- SLider  -->

    <div class="sliderContainer">

    <div style="margin-top:15px;" ng-repeat="field in design.fields.slice(0,design.numFields)" 
          ng-class="{'col-xs-12': design.numFields == 1,
                    'col-xs-6': design.numFields == 2,
                    'col-xs-4': design.numFields == 3,
                    'col-xs-3': design.numFields == 4}"> 



      <div class="tc wf">

      <img  src="images/placeholder.png"  ng-src="{{field.image}}" class="img-circle" style="width:80px; height:80px; margin-bottom:5px;">
        <h3 id="subvs">{{field.text}}</h3>
        <h2 class="counter" id="counterStrip  ">1202{{data[field.reaction]}}</h2>
          <img class="emoji" style="margin-top:-10px;" ng-src="images/emojis/{{field.reaction}}.png">
      </div>
    </div>
    <span class="stretch">101</span>
    </div>
    


<!--   </div>
</div> -->
</div>
