
<div class="templateWrapper"  style="padding-left:0px;" >
<img ng-src="{{design.background}}" style="width:476px;    opacity: 0.3; clip: rect(0px,476px,298px,0px); position:fixed; "></img>



<div class="col-xs-8 col-xs-offset-2">
  <h1 id="title">{{design.title}}</h1>     
</div>   

  <!-- REACTIONS -->




    <div class="sliderContainer">

    <div ng-repeat="field in design.fields.slice(0,design.numFields)" class="col-xs-12"  > 
      
      <div class="col-xs-3">
      <div class="tc wf">
        <img class="emoji" ng-src="images/emojis/{{field.reaction}}.png">
        <br>
        <h3 id="sub">{{field.text}}</h3>
        <span class="counter" id="counter">{{reactions ? reactions[field.reaction].count : 0}}</span>
      </div>
<!--   What does this do ? <span class="stretch"></span> -->
    </div>

      
    <div class="col-xs-8">
      <div class="progress hor">
        <div id="like" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" ng-style="getPercentageStyle(field.reaction)">
          <img class="img-circle"  id="imageIcon"  src="images/placeholder.png"  ng-src="{{field.image}}" style="margin-top: -10px;"></img>
          <span class="sr-only"></span>
        </div>
      </div>
    </div>


 
    </div>
    </div>
    


</div>
