
<div class="templateWrapper" style="padding-left:0px;     padding-right: 0px;">

<img src="images/book.png" style="width:476px; clip: rect(0px,476px,298px,0px); position:fixed; "></img>


<div class="col-xs-8 col-xs-offset-2">
  <h1 id="title">{{design.title}}</h1>     
</div>

 <!-- SLider  -->

    <div class="sliderContainer" id="vsHolder">

    <div id="vsHolder" ng-repeat="field in design.fields.slice(0,design.numFields)" 
          ng-class="{'col-xs-12': design.numFields == 1,
                    'col-xs-6': design.numFields == 2,
                    'col-xs-4': design.numFields == 3,
                    'col-xs-3': design.numFields == 4}"> 

<div id="circle"></div>


      <div class="tc wf">
      <h1 class="counter" id="countervs" style="z-index:">1202{{data[field.reaction]}}</h1>
      <h3 id="subvs">{{field.text}}</h3>
      <img class="emoji" ng-src="images/emojis/{{field.reaction}}.png">
      
      </div>
    </div>
    <span class="stretch">101</span>
    </div>
    


<!--   </div>
</div> -->
</div>
