
<div class="templateWrapper" style="padding-left:0px;" >
<img ng-src="{{design.background}}" style="width:476px;    opacity: 0.3; clip: rect(0px,476px,298px,0px); position:fixed; "></img>


 <div class="col-xs-10 col-xs-offset-1">
  <h1 id="title">{{design.title}}</h1> 
  <h1 id="subtitle"> Vote with <span ng-repeat="field in design.fields.slice(0, design.numFields)"> {{field.input}}</span> </h1>    

  <!-- REACTIONS -->



    <div class="sliderContainer">

    <div ng-repeat="field in design.fields.slice(0,design.numFields)" ng-class="{'col-xs-12': design.numFields == 1,'col-xs-6': design.numFields == 2,'col-xs-4': design.numFields == 3, 'col-xs-3': design.numFields
 == 4}" > 

      <div class="progress progress-bar-vertical">
        <div id="like" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" ng-style="getPercentageStyle(field.input)">
          
        <img class="img-circle"  id="imageIcon" src="images/placeholder.png" style="width:40px; height:40px; overflow:hidden;" ng-src="{{field.image}}"></img>
     
          <span class="sr-only"></span>
        </div>
      </div>
      <div class="tc wf">
        <span id="input">{{field.input}}</span>
        <br>
        <h3 id="sub">{{field.text}}</h3>
        <span class="counter" id="counter">{{inputs ? inputs[field.input].count : 0}}</span>
      </div>
    </div>
    <span class="stretch"></span>
    </div>
    


<!--   </div>
</div> -->
</div>
