
<div class="templateWrapper"  style="padding-left:0px;" >
<img ng-src="{{design.background}}" style="width:476px;    opacity: 0.3; clip: rect(0px,476px,298px,0px); position:fixed; "></img>



<div class="col-xs-8 col-xs-offset-2">

  <h2 id="countdowntitle">{{design.title}}</h2>     
</div>


<div class="col-xs-8 col-xs-offset-2" id="colorBox">
  <div class="col-xs-3">
  <h2 id="counts"> 04 </h2>
  <h6 id="units"> DAYS </h6>
  </div>

  <div class="col-xs-3">
  <h2 id="counts"> 03 </h2>
  <h6 id="units"> HOURS </h6>
  </div>


  <div class="col-xs-3">
  <h2 id="counts"> 02 </h2>
  <h6 id="units"> MINS </h6>
  </div>


  <div class="col-xs-3">
  <h2 id="counts"> 01 </h2>
  <h6 id="units"> SEC </h6>
  </div>
</div>


</div>
    

