
<div class="templateWrapper" style="padding-left:0px;" >
<img ng-src="{{design.background}}" style="width:476px;    opacity: 0.3; clip: rect(0px,476px,298px,0px); position:fixed; "></img>


 <div class="col-xs-10 col-xs-offset-1">
  <h1 id="title">{{design.title}}</h1>     

  <!-- REACTIONS -->


<!-- 
if 2 items, First class = col-xs-3 col-xs-offset-3 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3
            Additianl class = col-xs-3 col-sm-3 col-md-3

if 3 items class = col-xs-4 col-sm-4 col-md-4
if 4 items class = col-xs-3 col-sm-3 col-md-3
if 5 items class = col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1
            Additianl class = col-xs-2 col-sm-2 col-md-2

if 6 items class = col-xs-2 col-sm-2 col-md-2
-->

      <!-- SLider  -->



    <div class="sliderContainer">

    <div ng-repeat="field in design.fields.slice(0,design.numFields)" 
    ng-class="{'col-xs-12': design.numFields == 1,'col-xs-6': design.numFields == 2,'col-xs-4': design.numFields == 3, 'col-xs-3': design.numFields == 4}" > 
     <div class="progress progress-bar-vertical">
        
     <div id="like" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" ng-style="getPercentageStyle(field.reaction)">


<div id="imageIcon" style="
    width: 50px;
    margin-top: -25px;
    margin-left: -15px;
    height: 50px;
    background: #73AD21;
    /* padding: 20px; */
    border-radius: 50% !important;
    overflow: hidden;
    position: absolute;">

    <img src="images/placeholder.png" style="height: 100%; overflow: hidden; overflow:hidden;" ng-src="{{field.image}}"></img>

 <!--
<img class="img-circle"  id="imageIcon" src="images/fat.jpg" style="width:40px; height:40px; overflow:hidden;" ng-src="{{field.image}}"></img>
 -->

  
   </div> 

     <span class="sr-only"></span>
        </div>
      </div>
      <div class="tc wf">
        <img class="emoji" ng-src="images/emojis/{{field.reaction}}.png">
        <br>
        <h3 id="sub">{{field.text}}</h3>
        <span class="counter" id="counter">{{reactions ? reactions[field.reaction].count : 0}}</span>
      </div>
    </div>
    <span class="stretch"></span>
    </div>
    


<!--   </div>
</div> -->
</div>
