.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

 
}



#emailForm{
  width:100%;
}
#thisp{
  line-height:22px;
}

input:focus {
    background-color: transparent;
}

h5{
font-size: 11px;
}
#howTitle{
  font-size: 30px;
  text-align: center;
}

::-moz-selection {
  background: #00ffff; /* WebKit/Blink Browsers */
}

::selection {
  background: #00ffff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00ffff; /* Gecko Browsers */
}

body{


}
#icons{
display: block;
    margin: auto;
    width: 100px;
}
#hrStyle{

height:3px;
border:none;
color:#1f1f1f;
background-color:#1f1f1f;
}
#vid{
  width: 100%;
}
#vidTop{
  width: 100%;
}
#wgo{
width:100%;
}
#bgIg{
 width: 100%;
  overflow: hidden;
  background-size: cover;
  padding-bottom: 100px;
  padding-left: 15%;
padding-right: 15%;
}

#readText{
  font-size: 14px;
  padding-top: 120px;
  letter-spacing: 1.2px;
  line-height: 30px;
  padding-bottom: 120px;
}

#readTextLeft{
  font-size: 14px;
  padding-top: 100px;
  letter-spacing: 1.2px;
  ine-height: 35px;
  padding-bottom: 100px;
}

#logo{
  padding-top: 100px;
  max-width: 100%;
  padding-bottom: 30px;
}
#typeBig{
  text-decoration: none !important; 
  font-size: 45px;
  text-align: center;
  color:#1f1f1f;
}
#typeBigCenter{
  text-decoration: none !important; 
  font-size: 45px;
  color:#1f1f1f;
  text-align: center;
}
#hrTitle{

    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 10px solid #ff7f10;
    width: 50%;
    float: left;
    /* margin-bottom: 10px; */

}
#type{
  text-decoration: none !important; 
color:#1f1f1f;
  font-size: 15px;
}
#contact{
  color: white;
  text-decoration: none;
    font-size: 30px;
}
#contact2{
  color: white;
  text-decoration: none;
    font-size: 15px;
}

#signup-form{
  margin-top: 50px;
  margin-bottom: 20px;
}

.form-control {
  z-index: -1100000 !Important;
  margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    text-align: left !important;
    background-color: transparent;
    background-image: none;
    border: 1px solid #1f1f1f;
     -webkit-border-radius: 0px !important;
             border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#signup-button{
background: #0007fd;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none !Important;
    text-decoration: none;
    text-shadow: none !Important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-border-radius:0px;
            border-radius:0px;
    padding-left: 50px;
    padding-right: 50px;
}
#button-red{
background: #ff004f;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none !Important;
    text-decoration: none;
    text-shadow: none !Important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-border-radius:0px;
            border-radius:0px;
    padding-left: 50px;
    padding-right: 50px;
}

#template-button{
  background: #0007fd;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none !Important;
    text-decoration: none;
    text-shadow: none !Important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-border-radius:0px;
            border-radius:0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
}
.text-success {
  font-size: 20;
    color: #02c8ff;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#submit-button{
  background: transparent;
    color: white;
    border: none !Important;
    text-decoration: none;
    text-shadow: none !Important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}




/* Large desktops and laptops */
@media (min-width: 1200px) {
#type{
  font-size: 20px !important;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
#type{
  font-size: 20px!important;
}


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
#previewPos{
  margin-bottom: 0px;
  padding-left: 0px;
  position: fixed;
  width: 60%;
  bottom: 0px;
  position: fixed;
}

.templateWrapper{
  height: 200px;
}

  #ptext{
    font-size:25px;
    text-align: center;
  }
    #ptextleft{
    line-height: 25px;
    text-align: left;
  }
  #type{
  font-size: 20px!important;
}
  #hide{
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

#vidTop{
  margin-top: 300px;
  width: 100%;
}

#previewPos {
    margin-bottom: 0px;
    padding-left: 0px;
    position: fixed;
    width: 60%;
    bottom: 00px;
    position: fixed;
}

#hindMe{
  display: none !important;
}
.templateWrapperAdd{
    zoom: 0.8 !important;
    -moz-transform: scale(0.8)!important;
    -moz-transform-origin: 0 0!important;
    -o-transform: scale(0.8)!important;
    -o-transform-origin: 0 0!important;
    -webkit-transform: scale(0.8)!important;
    -webkit-transform-origin: 0 0!important;
    -webkit-transform: scale(0.8)!important;
            transform: scale(0.8)!important; /* Standard Property */
    -webkit-transform-origin: 0 0!important;
            transform-origin: 0 0!important;  /* Standard Property */
}
    #hide{
    display: none;
  }
  #ptext{
    font-size:10px!important;
  }
    #ptextleft{
    font-size:10px!important;
    text-align: left;
  }
  #signup-button{
  width: 100%;
    margin-top: 20px;
}
#readText{
  padding-top: 50px;
    padding-bottom: 50px;
}
#readText{
  line-height: 20px;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
#noMargin{
  padding-left: 15px !important;
    padding-right: 15px !important;
}
#gridRow{
  margin-bottom: 50px;
}
#vidTop{
  margin-top: 400px;
  width: 100%;
}
  #ptext{
    font-size:10px !important;
  }
    #ptextleft{
    font-size:10px!important;
    text-align: left;
  }

#signup-button{
  width: 100%;
  margin-top: 20px;
}
#readText{
  padding-top: 50px;
    padding-bottom: 50px;
}
#readText{
  line-height: 20px;
}
}

#section{
  margin-bottom: 100px;
      height: auto;
    overflow: hidden;
}
#createTitles{
  color:#1f1f1f;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 500;
}

#footerSub{
  color: white;
  text-align: left;
}
#footerLogo{
  width: 100%;
}
#footerContainer{
  margin-top: 75px;
  margin-bottom: 75px;

}

#noMargin{
  padding: 0px;
}
  #ptext{

    text-align: center;
  }
  #ptextleft{
    text-align: left;
  }
  #test{
  text-align: center;
  }
  #testleft{
    padding-top: 50px;
  text-align: left;
  }

  #type{
    text-align: left;
  }

  #textDone{
    font-size:20px;
    margin-bottom: 50px;
  }
    #buttonDone{
    margin-bottom: 200px;
  }
  #product{
    color: white;
    margin-right: 15px;
    position: absolute;
    top: 45px;
    text-align: center;
  }

  .preview {
      position: fixed;
      top: 1em;
      width:476px;
      max-width:476px;
  }
  .previewPos{
margin-bottom:105px;
  }

// nav bar 

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.header{
  margin-bottom: 0px !important;
}
.navbar-default {

}
.navbar-default{
  background-color: #202020;
}

.thumbnail{
  background-color: #f2f2f2;
}
#topText{
position: absolute;
top: 100px;
}
#createTitlesPreview{
  color:#1f1f1f;
  margin-top: 90px;
}

// Choose template

   .vividworknav {
      width: 33.333%;
      height: auto;
      float: left;
      padding: 0;
      position: relative;
      background-color: black;
    }

    .vividworknav:hover img {
      opacity: 0.25;
    }

    .vividworknav:hover .work-text-content {
      opacity: 1; 
    }

    .vividworknav img {
      padding: 0;
      width: 100%;
      display: block;
      opacity: 1;
    }

    .vividworknav img,
    .work-text-content {
      -webkit-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
    }

    .work-text-content {
      position: absolute;
      color: white;
      left: 0;
      top: 36%;
      right: 0;
      bottom: 0;
      font-size: 24px;
      text-align: center;
      opacity: 0;
    }

    .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: -1px;
    height: 44px;
    border: none;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    background-color: #2f2f2f;
    color: white;
}
.templateWrapper{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 35px;
    padding-bottom: 10px;
    width: 476px;
    height: 298px;
    max-height: 298px;
    background-color: black;

}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}