  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0; 
    background-size: cover; 
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  body{
    margin: 0;
    width: 100%;
    height: 100%;

  }
  header { 
    text-align: center; 
  }
  header .logo { 
    position: relative; 
    margin:100px auto 20px; 
    width:250px;
    margin-top:50px;
  }

  #wrap{
    position: relative;
    margin: 0px auto;
    width: 1280px;
    height: 720px;
  }
  .tc { 
    text-align: center; 
    font-size: 3rem; 
    font-weight: bold; 
  }
  .wf { 
    width: 100%; 

  }
  .wf img.illu {
    width:80%;
    display: block;
    position: relative;
  }
  .wf img.emoji {
    width: 22px;
    margin-left: 10px;
    display: inline-block;
  }
  .wf { 
    width: 100%; 
    float:left; 
    margin-top: 0px;

    border:solid 0px #eee;
    background:transparent;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    position: relative; 
    text-align: center; 
  }
  .progress-bar {
    background-image: -webkit-linear-gradient(top,#337ab7 0,#286090 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#286090));
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a71ff), to(#4a71ff));
    background-image: -webkit-linear-gradient(top, #4a71ff 0, #4a71ff 100%);
    background-image: linear-gradient(to bottom,#4a71ff 0,#4a71ff 100%)
  }



  #sub{
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size: 7px;
    margin-top:3px;
    margin-bottom: -10px;
  }
  .progress {
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }

  // cutom


  .containerTempate { width:600px;margin-top: 10px; font-size:50px }
.progress.hor{
  margin-top: 12px;
}
.progress-bar-vertical{
  width:23px;
  min-height:120px;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  align-items:flex-end;
  float:center;
  margin:auto;
  border:2px solid #000;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.progress-bar-vertical .progress-bar{
  width:100%;
  height:180px;
-webkit-transition:height .6s ease;
transition:height .6s ease
} 
  
  /*.progress-bar-vertical {
    width: 23px;

    min-height: 175px;
    display: flex;
    align-items: flex-end;
    margin-right: 0px;
    float: center;
    margin: auto;
    border: 2px solid black;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 180px;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }*/
  
  video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
  }
  .videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.5;
    z-index:-1;
  }
  #counter{
    color: white;
    font-size: 10px;
  }
  #imageIcon{
    width: 40px;
    z-index: 10000;
    margin-left: -20px;
    margin-top: -25px;
    position: absolute;
  }
  #title{
    color: white;
    text-align: center ; 
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 40px;
    margin-top:0px;
  }


  .containerTemplateBody{
    margin-top: 25px;
  }


  .sliderContainer {
    /*border: 2px dashed #444;*/
    /*height: 125px;*/

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

  }
  .slider{
    vertical-align: top;
    display: inline-block;
  }
  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
  }


/* countdown page */

#countdowntitle{
  text-align: center;
  color:black;
  font-weight: bold;
  margin-top:50px;
  margin-bottom:35px;
  text-transform: uppercase;
}
#counts{
color:white;
}
#units{
text-align: center;
color:white;
}
#colorBox{
  margin-bottom: 20px;
text-align: center;
background-color: black;
}

/* VS page */
#circle {
    background: rgba(255, 255, 255, 0.5);
    width: 187.989px;
    height: 187.989px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
}

#subvs{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 8px;
    margin-top:3px;
    margin-bottom: -10px;
}

#countervs{
    color: black;
    font-size: 60px;
    margin-top: 55px;
    z-index: 99999 !important;
    text-align: center;
}

#half{
  width: 50%;
}

#vsHolder{
  margin-top: 30px;
}