<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <base href="/"> -->
    <title>Reactions Live</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/*.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/template1.css">
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body ng-app="reactionsliveApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  
    <div ng-view="" autoscroll></div>
 

    <div class="footer" style="background-color:#202020;">
      <div class="container" >

        <div class="col-xs-4 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0"id="footerContainer">
          <p id="footerSub">© Reactions Live LTD 2016</p><br>
          <a ng-href="/terms"><p id="footerSub">Terms and Conditions </p></a>
          <a ng-href="/privacypolicys"><p id="footerSub">Privacy Policys</p></a>
          <a ng-href="/privacypolicys"><p id="footerSub">Payments</p></a>
        </div>
        <div class="col-xs-4 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0"id="footerContainer">
          <p id="footerSub">Contact</p><br>
          <a ng-href="/terms"><p id="footerSub">Facebook</p></a>
          <a ng-href="/terms"><p id="footerSub">Youtube</p></a>
          <a ng-href="/privacypolicys"><p id="footerSub">Email</p></a>
        </div>

        <div class="col-xs-4 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0"id="footerContainer">
          <p id="footerSub">Alpha Testers</p><br>
          <a ng-if="currentAuth !== '0'"  ng-click="signIn()"><p id="footerSub">Alpha Tester Facebook Login</p></a>
          <a ng-if="currentAuth !== '0'" ng-href="#/choose"><p id="footerSub">Alpha Create new campaign</p></a>
          <a ng-href="/terms"><p id="footerSub">Become a Alpha Tester</p></a>

        </div>



        <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0"id="footerContainer">
          <img id="footerLogo" src="images/footer.png"></img>

        </div>

        </div>
      </div>
    </div>


<!-- Hotjar Tracking Code for http://www.reactionslive.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:336034,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- Heap -->
<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("3011387739");
</script>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/create.js"></script>
    <script src="scripts/controllers/done.js"></script>
    <script src="scripts/controllers/live.js"></script>
    <script src="scripts/directives/file.js"></script>
    <script src="scripts/directives/header.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/server.js"></script>
    <!-- endbuild -->
    


    
</body>
</html>
