<div header></div>
<div class="container">

	<div class="col-md-12">

		
			<h1 id="createTitles">
				Choose Template
			</h1>
			


      </div>


			<div class="col-xs-12 col-sm-6 col-md-4">
			 <a ng-href="#/create/1c">
				<div class="vividworknav" style="background-color:black; margin-bottom:30px;">
					<img src="images/products/product.png" style="width:100%;" alt="interactive live logo image"></img>
						<div class="work-text-content">
						  <p>Vertical Sliders</p>
						</div>
				</div>
			</a>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-4">
			<a ng-href="#/create/2">
				<div class="vividworknav" style="background-color:black; margin-bottom:30px;">
					<img src="images/products/product2.png" style="width:100%;" alt="interactive live logo image"></img>
						<div class="work-text-content">
						  <p>Horizontal Sliders</p>
						</div>
				</div>
			</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
			<!-- <a ng-href="#/create/3"> -->
				<div class="vividworknav" style="background-color:black; margin-bottom:30px;">
					<img src="images/products/product3.png" style="width:100%;" alt="interactive live logo image"></img>
						<div class="work-text-content" style="top:26%;">
						  <p>Countdown</p>
						<p>Coming Soon</p>
						</div>
				</div>
			</a>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-4">
			<!-- <a ng-href="#/create/4"> -->
				<div class="vividworknav" style="background-color:black; margin-bottom:30px;">
					<img src="images/products/product5.png" style="width:100%;" alt="interactive live logo image"></img>
						<div class="work-text-content" style="top:26%;">
						  <p>Number Counters</p>
						<p>Coming Soon</p>
						</div>
				</div>
			</a>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-4">
			<!-- <a ng-href="#/create/5"> -->
				<div class="vividworknav" style="background-color:black; margin-bottom:30px;">
					<img src="images/products/product4.png" style="width:100%;" alt="interactive live logo image"></img>
						<div class="work-text-content" style="top:26%;">
						  <p>VS Reaction</p>
						<p>Coming Soon</p>
						</div>
				</div>
			</a>
			</div>




			<br>
		</div>
	</div>









