<div header></div>
<div class="container">
	<div class="col-md-7">

	<div id="section">
		<h1 id="createTitles">Campaign Details</h1>
		<hr id="hrStyle" style="margin-bottom:50px;"></hr>

		<!-- Campaign Title  -->

		<div class="form-group">
			<label for="usr">Campaign Title</label>
	  		<input type="text" ng-model="design.title" class="form-control" id="usr">
  		</div>

  		<!-- Number of fields  -->
  		
  		<div class="form-group">
		  <label for="usr">Number of fields</label>
		  <select ng-model="design.numFields" class="form-control" id="sel1">
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		    <option value="4">4</option>
		  </select>
		</div>

		<!-- This needs to loop for each field above  -->
		<!-- Should use underscore or something here -->
		<div ng-repeat="field in getNumber(design.numFields)" class="row">
		<div class="col-md-1">
		<h4>{{$index+1}}.</h4>
		</div>	

		<div class="col-xs-12  col-sm-12 col-md-6">
			<input type="text" ng-model="design.fields[$index].text" class="form-control" id="usr" placeholder="Text {{$index+1}}">
		</div>	
		
		<div class="col-xs-6 col-sm-6 col-md-3">
			<div class="input-group">
		      <span class="input-group-btn">
				        <label class="btn btn-default btn-file btn-block" type="button" style="padding-top: 10px;">Slider Image {{$index+1}} <fileupload-S3 style="display: none;" accept="image/png,image/jpg,image/jpeg" ng-model="design.fields[$index].image"/></label>
				      </span>

		    
    		</div>

    		
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-2">
			<input type="text" ng-model="design.fields[$index].input" class="form-control" id="usr" placeholder="Input {{$index+1}}">
		</div>
		</div>
		<div ng-if="hasDuplicates()">You can't use the same input twice!</div>	

		<!-- Logo
		<div class="form-group">
			<label for="usr">Logo optional</label>
		  		<div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Browse</button>
				      </span>
				      <input type="text" class="form-control" placeholder="Search for...">
		    	</div>
    	</div>
    	-->

    	<!-- Background Image -->

    	<div class="form-group">
	    	<label for="usr"  style="margin-top:30px;">Background Image optional ( 476p x 298px )</label>
		  		<div class="input-group">
				      <span class="input-group-btn">
				        <label class="btn btn-default btn-file" type="button" style="padding-top: 10px;">Browse <fileupload-S3 style="display: none;" accept="image/png,image/jpg,image/jpeg" ng-model="design.background"/></label>
				      </span>
				      <input type="text" class="form-control" placeholder="Search for..."> </input>
		    	</div>
    	</div>

		
		<br><br>

		<button ng-click="saveCampaign()" class="btn btn-default" id="signup-button" type="submit">Next</button>
	</div>

</div>


	<!-- preview -->
	<div class="col-md-5">


	<div class="preview" ng-include="'views/preview.html'"></div>


	</div>


      </div>




