<div header user="currentAuth"></div>
<div class="container">
   <div class="row" >
	<div class="col-md-6">

<div style=" margin-bottom:50px;">


	<h1 id="createTitles">Campaign Details</h1>
		<hr id="hrStyle" style="margin-bottom:50px;"></hr>
</div>

<div class="col-md-12">


<label for="usr">Select page</label><br>
<select ng-model="page" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" id="sel1">
    <option ng-repeat="page in pages" value="{{$index}}">{{page.name}}</option>

</select><br>

<div class="form-group">
  <label for="comment">Post description:</label><br>
  <textarea class="form-control" rows="5" id="comment" ng-model="description"></textarea>
</div>

<div class="form-group">
  <label>Live video duration:</label>
  <select ng-model="duration" class="form-control">
      <option value="10">10 min</option>
      <option value="30">30 min</option>
      <option value="60">1 hour</option>
      <option value="120">2 hours</option>
      <option value="240">4 hours</option>
  </select>
</div>



<a ng-click="startStream()" ng-show="state==0">
    <input class="btn btn-success" id="button-red"  type="submit" value="Post Live Stream"></input>
</a>
<p ng-show="state==1"> Starting stream ... please wait</p>
<p ng-show="state==2"> Live Video started! It should appear within a minute or two on your Facebook page.</p>

<br><br>


<div id="buttonDone"></div>

</div>
</div>


	<div class="col-md-5" style="margin-top:-40px;">


	<div ng-include="'views/preview.html'"></div>

    <!-- <div ng-bind-html="player"></div> -->

	</div>

</div>
</div>



