<div class="header">
  <div class="navbar navbar-default" style="margin-bottom:0px;" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">

        <img src="images/footer.png" style="with:auto;     height: 100%;"></img>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
        <li> <a>{{user.displayName}}</a> </li>
        <li><a style=" padding:10px;"> <img style="max-height: 30px;" class="img-circle" ng-src="{{user.photoURL}}"></a></li>
        <li ng-if="user !== '0'"> <a ng-href = "{{serverhost}}logout"> Sign out </a></li>
     
      </div>
    </div>
  </div>
</div>