<!-- <div ng-include="'views/header.html'"></div> -->
<div header></div>
<div class="row" >

<!-- <img id="vidTop"src="images/bg.png" alt="background-image"></img><br>-->

</div>
<!-- Top of the page, background image and intro -->


<div class="row" style="background:white;">

  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-6-offset-4 col-md-3 col-md-offset-7" style="margin-top:160px; z-index: 99999;">
      <br>
      <br>
      <h1 id="typeBig">Create Free Facebook live content</h1>

      <h4  class="text-center">Our Free online editor makes creating interactive live content easy</h4>
      <br>
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" >
          <a ng-if="currentAuth === '0'" class="btn btn-success btn-block" id="signup-button" ng-href="{{serverhost}}login">Alpha tester Login</a>
          <a ng-if="currentAuth !== '0'" class="btn btn-success btn-block" id="signup-button" ng-href="#/choose">Login</a>
        </div>
    </div>
   

<div id="container">
  <img id="image" src="images/bg.png" />
  <p id="text">

  </p>
</div>








<div id="container">
  <div class="row" >
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" id="readText" style="margin-top:300px;">
      <div id="test"><h1>Reactions Live Cretive Platform<h1></div><br>

      <p id="ptext">With reactions live you can create and launch facebook live videos at ease and at scale. Our online editor makes it super easy for you to create your live campaign in minutes. With the click of a button you can go live. Create as many campaigns as you like</p>
      <br>
     
    </div>
  </div>
</div>



<!-- What we do section -->

<!-- 


<div class="row" >
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" id="readText">

    <div id="test">
      <h1 id="typeBigCenter">What we do<h1>
    </div>
    <hr id="hrStyle" />


    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12 col-md-4">
      <h2 id="howTitle">1. Creative</h2>
      <img src="images/code2.png"  alt="code-image" id="icons">
      <p id="ptext">Have an idea for a interactive live video? Great, you're at the right place</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12 col-md-4">
      <h2 id="howTitle">2. Make</h2>
      <img src="images/code.png"  alt="code-image" id="icons">
      <p id="ptext">Our online editor makes it super easy for you to create your live campaign in minutes</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12 col-md-4">
      <h2 id="howTitle">3. Go Live</h2>
      <img src="images/live.png"  alt="live video-image" id="icons">
      <p id="ptext">With the click of a button you can go live. Create as many campaigns as you like</p>
    </div>
  </div>
</div>

-->

<!-- Full banner image -->

<div class="row" >
  <img id="vid"src="images/p1.png" alt="background-image"></img>
  <br>
</div>

<!-- Detailed text -->

<div id="container">
  <div class="row" >
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" id="readText">
      <div id="test"><h1>Engage your audience with<br>interactive facebook live reaction content<h1></div><br>

      <p id="ptext">It's no secret that interactive live videos are blowing up on Facebook right now. Facebook Live videos are given priority in Facebook's algorithm, driving extremely many views to your live content. We understand that this is a hard task for many brands and publishers so we are here to help.</p>
      <br>
      <p id="ptext">Live interactive content is dominating this space, offering users to interact with live content, driving your content to the top of everyone's news feeds. We take facebook comment data  and plug that data into your live video, enabling your auidence to interact with your visual content live.  We offer a full creative service from concept, design and production for all your live content needs.</p>

    </div>
  </div>
</div>

<!-- Our Playform -->

<div id="container">
  <div class="row" id="gridRow">

    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-push-5 col-sm-offset-1 col-md-6 col-md-offset-1" id="noMargin">
      <img id="vid"src="images/p3.jpg" alt="background-image"></img><br>
    </div>


    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-md-pull-7 col-sm-offset-1 col-md-4 col-md-offset-1" >
      <div id="testleft"><h1>Reactions live Platform<h1>
      </div><br>


      <p id="ptextleft">The Reactions Live platform makes it easy for any publisher to create engaging content for their audience. We have a range of fully editable templates to choose from, giving you control over your content </p><br>
      <button class="btn btn-success" id="signup-button" ng-click="anchor('emailform')"> Drop us a message</button>

  <!--
      <button ng-if="currentAuth === null" class="btn btn-success" id="signup-button" ng-click="signIn()">Login With Facebook</button>
      <a ng-if="currentAuth !== null" class="btn btn-success" id="signup-button" ng-href="#/create">Create new campaign</a>
  -->

    </div>



  </div>
</div>


<!-- For Brands and agencies -->

<div id="container">
  <div class="row" id="gridRow">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0" id="noMargin">
      <img id="vid"src="images/p4.jpg" alt="background-image"></img><br>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1" >
    <div id="testleft"><h1>For brands and agencies<h1></div><br>

    <p id="ptextleft">We offer a wide range of creative products for brands and publishers. From influencer packages to custom campaigns and creative live packages. We appreciate that everyone has different needs, if you would like to find out more, don't hesitate to get in touch</p><br>
    <button class="btn btn-success" id="signup-button" ng-click="anchor('emailform')"> Drop us a message</button>
  </div>
</div>


<!-- Contact Us -->

<div class="row" id="emailform">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" id="readText">
      <div id="test"><h1>Contact us<h1></div><br>
        <p id="ptext">We are super excited about the creative opportunities this presents and hope your are too. If you are a brand or agency looking to reach wider auidences or just finding out more, drop us your details below and we will get back to you.</p>

      <form >
         <input class="form-control" id="emailForm" type="email" placeholder="Your email" ng-model="contact.email"/>
         <textarea ng-model="contact.text" rows="4" id="emailForm" class="form-control" type="text" placeholder="Message & Page or Brand Name"></textarea>
         <button class="btn btn-success" id="signup-button" ng-click="email()">Send</button>
      </form>
    </div> 

      </div> 




    </div> 
</div> 




</div> 


<!-- This stuff isn't doin anything is it? -->
<!-- <div class="signup">

    <p id="signup-success" class="text-success"></p>
    <p id="signup-error" class="text-danger"></p>

</div> -->



</div> 

<!--
<script>



    var signupForm = document.getElementById('signup-form');
    var signupSuccess = document.getElementById('signup-success');
    var signupError = document.getElementById('signup-error');
    var signupBtn = document.getElementById('signup-button');
    var onSignupComplete = function(error) {
      signupBtn.disabled = false;
      if (error) {
        signupError.innerHTML = 'Sorry. Could not signup.';
      } else {
        signupSuccess.innerHTML = 'Thanks, We will get right back to you';
        // hide the form
        signupForm.style.display = 'none';
      }
    };
    function signup(formObj) {
        // Store emails to firebase
        var myFirebaseRef = new Firebase("https://reactions-71b3c.firebaseio.com/");
        myFirebaseRef.push({
          email: formObj.email.value,
          message: formObj.message.value,
        }, onSignupComplete);
        signupBtn.disabled = true;
        return false;
    }
</script>
-->




  </div>
</div>







</div>

</div>

