

	<div class="col-md-12" id="previewPos">

	<div id="hindMe">
	<h1 id="createTitlesPreview" >
	Preview
	</h1>
	

	<hr id="hrStyle" style="margin-bottom:50px;"></hr>
	<img src="images/preview.png" id="hide" style="width:100%;"></img>
	</div>

	<div style="zindex:99999;" class="templateWrapperAdd" ng-include="template"></div>

	<img src="images/previewBottom.png" id="hide" style="width:100%; margin-bottom: 60px;
    height: auto;
    overflow: hidden;"></img>

	</div>





